.mainpage {
	display: grid;
	margin: 2.5rem 0rem 0rem 15rem;
	padding: 0rem;
	top: 0;
	left: 0;
	min-width: 30%;
	max-width: 60%;
	height: 30rem;
	margin-bottom: 2rem;
}

.infoContainer {
	margin: 0rem 0rem 2rem 0rem;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: rgba(240, 248, 255, 0.959);
	padding: 2rem;
	border: 0.2rem solid rgb(255, 136, 0);
	border-radius: 15px;
	height: fit-content;
}

.infoContainer h2 {
	text-align: center;
}
.infoText {
	width: 100%;
	margin: 0rem;
	padding: 0px;
	text-align: left;
}

.mainpage input {
	margin-top: 2rem;
	margin-bottom: 5rem;
	height: 2rem;
	min-width: 60%;
	max-width: 70%;
	border: 0.2rem solid rgb(255, 136, 0);
	border-radius: 50px;
}

.mainpage input:focus {
	margin-top: 2rem;
	margin-bottom: 5rem;
	height: 2rem;
	min-width: 60%;
	max-width: 70%;
	border: 0.2rem solid rgba(25, 59, 252, 0.746);
	border-radius: 50px;
}

iframe {
	margin-left: 5rem;
	margin-top: 2rem;
	max-width: 600vh;
	max-height: 200vh;
	width: 28rem;
	height: 20rem;
	border-radius: 10px;
}

.div3 {
	justify-self: center;
	align-self: center;
	margin-left: 1.5rem;
	width: 30rem;
	height: 30rem;
	text-align: center;
}
.div3 h3,
p {
	text-align: left;
	margin-left: 20px;
}

#myMap {
	width: 560px;
	height: 450px;
	margin: 5px 20px 20px 20px;
	border: 0px;
}


/* iPad storlek */
@media screen and (max-width: 56.25rem) {
	.infoContainer {
		max-width: 31rem;
	}
	.mainpage {
		max-width: 28rem;
		margin-left: 1.5rem;
	}
	iframe {
		margin-left: 1.5rem;
		margin-top: 1rem;
		width: 28rem;
		height: 20rem;
	}
	.div3 {
		width: 28rem;
		height: 28rem;
	}

	#myMap {
		width: 520px;
		height: 430px;
		margin: 5px 20px 20px 20px;
		border: 0px;
	}
}

/* iPhone storlek */
@media screen and (max-width: 37.5rem) {
	.infoContainer {
		max-width: 11.5rem;
	}
	.mainpage {
		width: 11rem;
		margin-left: 1.5rem;
	}
	iframe {
		margin: 1rem 0rem 1rem 0rem;
		width: 12rem;
		height: 10rem;
	}
	.div3 {
		justify-self: flex-start;
		align-self: flex-start;
		width: fit-content;
		height: 20rem;
		margin-left: 0rem;
		margin-top: 1rem;
	}
	#myMap {
		width: 280px;
		height: 240px;
		margin: 5px;
		border: 0px;
	}
}

/* även mindre */
@media screen and (max-width: 18.75rem) {
	.infoContainer {
		max-width: 8rem;
	}
	.mainpage {
		width: 8rem;
		margin-left: 1.5rem;
	}
	iframe {
		margin: 1rem 0rem 1rem 0rem;
		width: 8rem;
		height: 6rem;
	}
	.div3 {
		width: 11rem;
		height: 8rem;
		margin: 1rem 0rem 0rem 0rem;
	}
}
