.dessert, .drink, .popular, .smoothie, .mat, .favorit{
	display: grid;
	grid-template-columns: 15rem 15rem 15rem;
	grid-gap: 1rem;
	padding: 2rem 0rem 2rem 0rem;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}

.foodBox {
	margin: 0px;
	padding: 0px;
}
.foodBox :hover {
	border-color:rgba(25, 59, 252, 0.746);
}

 .imagebox {
	width: 18rem;
	border-radius: 15px;
	border-color: rgb(255, 136, 0);
	border-style: solid;
	border-width: 4px;
	background-color: rgba(240, 248, 255, 0.959);
	height: 13rem;
}

 .foodImage {
	width: 18rem;
	height: 10rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 0.2rem;
	border-bottom-color: rgb(255, 136, 0);
		border-bottom-style: solid;
}

.imgText {
	display: flexbox;
	color: #060b26;
	text-align: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
  font-size: 1rem;
}

@media screen and (max-width: 56.25rem) {
	.dessert, .drink, .popular,  .smoothie, .mat, .favorit {
		grid-template-columns: 16rem 16rem;
		/* padding-left: 1rem; */
		margin-top: 1rem;
    }

		 .imagebox {
			width: 15.5rem;
			height: 11rem;
			border-radius: 15px;
			/* margin-left: 1rem; */
		}
		
		.foodImage {
			width: 15.5rem;
			height: 8rem;
		}
}

@media screen and (max-width: 37.5rem) {
	.dessert, .drink, .popular,  .smoothie, .mat, .favorit {
		grid-template-columns: 18rem;
		padding-left: 1rem;
		margin-top: 1rem;
	}

	 .imagebox {
		width: 15.5rem;
		height: 11rem;
		border-radius: 15px;
		/* margin-left: 2.5em; */
	}
	
	.foodImage {
		width: 15.5rem;
		height: 8rem;
	}
}

@media screen and (max-width: 18.75rem) {
	.dessert, .drink, .popular,  .smoothie, .mat, .favorit {
		grid-template-columns: 18rem;
		padding-left: 1rem;
		margin-top: 1rem;
		justify-content: center;
	}
	 .imagebox {
		width: 12rem;
		height: 8rem;
		border-radius: 15px;
		margin-left: 1.5rem;
	}
	
	.foodImage {
		width: 12rem;
		height: 5.5rem;
	}

}
