.navigationItems {
	grid-column: 1/6;
	display: list-item;
	align-content: flex-start;
	border-width: 3px;
	height: 450px;
	width: 5em;
	background-color: rgb(168, 205, 233);
	font-size: 20px;
	margin-top: 1px;
	margin-bottom: 0px;
	padding-left: 0px;
	position: absolute;
	border-bottom-right-radius: 15px;
}

.navigationItem .menu {
	display: block;
	padding: 5px;
	text-decoration: none;
}

.navigationItem .menu:hover,
.NavLink:hover {
	color: aliceblue;
	background-color: rgba(210, 105, 30, 0.726);
	text-decoration: none;
}
.navigationItem .NavLink a:link,
a:visited,
a:active {
	color: rgba(228, 105, 17, 0.835);
	text-decoration: none;
}

.navigationItems,
ul {
	list-style-type: none;
	text-decoration: none;
}

.receptHeader {
	margin-bottom: 1px;
	font-weight: bold;
}

@media screen and (max-width: 56.25em) {
	.navigationItems {
		width: 5em;
		padding-left: 0px;
		font-size: 18px;
	}
	.navigationItem :hover {
		padding-left: 0px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 37.5em) {
	.navigationItems {
		width: 5em;
		padding-left: 0px;
		font-size: 14px;
	}
}

@media screen and (max-width: 18.75em) {
	.navigationItems {
		width: 50px;
		padding-left: 0px;
		font-size: 10px;
	}
}
