.navigationItems {
  grid-column: 1/6;
  display: list-item;
  align-content: flex-start;
  border-width: 3px;
  height: 450px;
  width: 150px;
  background-color:  rgb(236, 240, 243);
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 0px;
  position: absolute;
}

.navigationItems, ul{
  list-style-type: none;
}