.mat{
    position: fixed;
    display: flex;
    margin: 0em 15em;
}

.mat .maltider {
    margin-left: 70px;
    margin-right: 100px;
}

.mat .ingredients {
    margin-left: 400px;
    position: fixed;

}

.mat ul{
    list-style-type: none;
}    