.page{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px 200px;
    height: 450px;
    grid-gap: 5px;
    background-color:  rgb(236, 240, 243);
    justify-content: center;
    align-content: center;
    padding-left: 180px;
    padding-top: 0px;
}

.page div{
    background-color: rgba(253, 253, 253, 0.8);
    text-align: left;
    padding-left: 5px;
}

.page .image{
    padding-left: 0px;
}

.image, .page, .data, .ingredient {
height: fit-content;
}

.recepiesPage {
    display: flex;
    justify-content: space-around;
    min-height: fit-content;
    max-height: 50em;
    min-width: 0em;
    max-width: 50em;
    background-color: rgb(4, 97, 179);
}
