.main-form {
	height: 22rem;
	width: 25rem;
	padding: 1rem;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	display: flex;
	flex-direction: column;
	margin: 1rem 0rem 0rem 24rem;
	align-self: center;
	justify-content: center;
	background-color: rgba(240, 248, 255, 0.877);
	border-width: 0.2rem;
	border-color: rgb(255, 136, 0);
	border-style: solid;
}

.login {
	display: flex;
	flex-direction: column;
}

h2 {
	margin-bottom: 1rem;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.login input {
	display: flex;
	padding: 0.1rem 0.25rem;
	min-width: 50%;
	max-width: 90%;
	border-width: 0.2rem;
	border-color: rgb(255, 136, 0);
	font: inherit;
	border-radius: 10px;
	background-color: aliceblue;
	margin-bottom: 1rem;
	outline: none;
}

.login input:focus {
	border-width: 0.2rem;
	border-color: rgba(25, 59, 252, 0.746);
}

button {
	padding: 1rem auto;
	width: 8rem;
	height: 3rem;
	text-align: center;
	margin: 0.5rem 8rem;
	border-radius: 15px;
	background-color: rgb(255, 136, 0);
	color: black;
	margin-left: 0rem;
	font-size: 1rem;
	outline: none;
}

button:focus {
	background-color: rgba(25, 59, 252, 0.746);
	color: aliceblue;
}

button:disabled {
	background-color: #0000007c;
	color: aliceblue;
}

.loginButton {
	padding: 1rem auto;
	width: 5rem;
	height: 2.5rem;
	text-align: center;
	margin: 0.5rem 8rem;
	border-radius: 15px;
	background-color: rgb(255, 136, 0);
	color: black;
	margin-left: 0rem;
	font-size: 1rem;
}

.loginButton:focus {
	background-color: rgba(25, 59, 252, 0.746);
	color: aliceblue;
}

.bRow {
	width: 100px;
}

.loginName {
	text-align: center;
	font-size: 1rem;
}

.Toastify__toast-container--bottom-center .Toastify__toast-body {
	text-align: center;
}

/* iPad storlek */
@media screen and (max-width: 56.25rem) {
	.main-form {
		margin-left: 4rem;
	}
}

/* iPhone storlek */
@media screen and (max-width: 37.5rem) {
	.main-form {
		width: 14rem;
		height: 15rem;
		margin-left: 0rem;
	}
	h2 {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}
	.loginButton {
		height: 2rem;
		width: 5rem;
		font-size: 1rem;
	}
}

/* även mindre */
@media screen and (max-width: 18.75rem) {
}
