.main-form {
    width: 20rem;
    max-width: 80%;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    display: grid;
    grid-gap: 10px;
    margin: 2em 25em;
  }
  
  .login input {
    padding: 0.1rem 0.25rem;
    width: 80%;
    border: none;
    font: inherit;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .login button{
    padding: 1rem auto;
    max-width: 70%;
    text-align: center;
    margin: 0.5rem 8rem;
    
  }
  
  .login label, 
  .login input 
  .login button{
    display: block;
    width: 100%;
  }
  
  .login input:focus{
    outline: none; 
    border-block-color: #ff2058;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
  }

  .bRow {
    width: 100px;
  }