@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

.app {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
}

:root {
	background-color: #0f1641e8;
}

/* 
iPad storlek
@media screen and (max-width: 56.25em) {
	.app {
		width: 900px;
	}
}

iPhone storlek
@media screen and (max-width: 37.5em) {
	.app {
		width: 600px;
	}
}

även mindre
@media screen and (max-width: 18.75em) {
	.app {
		width: 300px;
	}
} */
